<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
      <div class="profile-card text-center">
        <div class="profile-info">
            <img class="profile-pic" src="https://www.udiscovermusic.nl/wp-content/uploads/sites/5/2018/08/macca.jpg">
            <h2 class="hvr-underline-from-center"> <%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %> </h2>
            <p> <%= "#{current_user.bio}" %></p>
        </div>
      </div>
      <div class="my-booking">
        <div class="container">
          <div class="cards-wrapper">
            <h2 class="text-center">My rentals</h2>
            <% @bookings.each do |booking| %>
              <div class="card-product my-3">
                <div style="background-image: url('<%= cl_image_path booking.boat.photos.first.key, height: 170, width: 200, crop: :fill %>')"></div>
                <div class="card-product-infos p-3">
                  <h3 class="card-category-text"><%= link_to "#{booking.boat.name}", to: boat_path(booking.boat) %></h3>
                  <h4>Rented on <%= booking.date.strftime('%b/%d/%Y') %></h4>
                  <p class="card-category-text"><i class="fa-solid fa-user"> <%= booking.boat.number_of_people %></i></p>
                  <p class="card-category-text price">€ <%= number_with_precision(booking.boat.price, precision: 2) %> p/d</p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 200 x 170px
 %>






<%# below here needs to include the cards of boats listed for rent%>
<%# link to DB:create_boats to bring boat card info%>
<%# need to include flex grid system to include however many boats are recalled%>

<%# below here needs to include the cards of boats i'm renting or have rented%>
<%# link to DB:create_bookings to bring boat/booking card info%>
<%# need to include flex grid system to include however many rentals are recalled%>
