<div class="form-flex-wrapper">
  <h1>Edit</h1>
  <div class="border p-4 new-boat-form">
  <% boat = Boat.find(params[:id]) %>
    <%= simple_form_for(boat) do |f| %>
      <%= f.input :name, wrapper_html: { class:  'type' }%>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :number_of_people %>
      <div class="d-flex justify-content-center">
        <%= f.submit "Submit", class: "btn new-boat-btn" %>
      </div>
    <% end %>
  </div>
  <div class="w-100 text-start">
    <%= link_to :back, class: "back-link pl-3" do %>
      <i class="fa-solid fa-arrow-rotate-left"></i> Back
    <% end %>
  </div>
</div>
