<h1>See all our boats</h1>

<div class="container">
  <div class="cards">
    <% @boats.each do |boat| %>
      <%= link_to boat_path(boat) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photos.first.key %>')">
          <h4 class="card-category-text"><%= boat.name %></h4>
          <p class="card-category-text">€ <%= number_with_precision(boat.price, precision: 2) %></p>
          <p class="card-category-text"><%= boat.number_of_people %>👤</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# height: 300, width: 400, crop: :fill %>
