<div class="container text-center index-intro">
  <h1 class="introduction-title">Find a boat</h1>
  <p class="page-text">Rent a beautiful boat for a lovely day on the water in Amsterdam. <br> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
</div>

<div class="container">
  <div class="cards m-5">
    <% @boats.each do |boat| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path boat.photos.first.key %>')">
      <h4 class="card-category-text"><%= link_to "#{boat.name}", boat_path(boat) %></h4>
      <p class="card-category-text"><i class="fa-solid fa-user"> <%= boat.number_of_people %></i></p>
      <p class="card-category-text price">€ <%= number_with_precision(boat.price, precision: 2) %> p/d</p>
      </div>
    <% end %>
  </div>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# height: 300, width: 400, crop: :fill %>
