<div class="container">
  <div class="text-button">
    <div class="show-text">
      <h1><%= @boat.name %></h1>
      <p>Number of people: <%= @boat.number_of_people %></p></p>
      <br>
      <p><%= @boat.description %></p>
      <h4>€ <%= number_with_precision(@boat.price, precision: 2) %></h4>
      <br>
    </div>

    <%= link_to 'Book this boat', new_boat_booking_path(@boat), class: "btn-booking" %>

  </div>

  <div class="show-img">
    <% photos = @boat.photos %>
    <% photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
</div>

<%= link_to "⬅️ Back", :back %>
