<!DOCTYPE html>
<html>
  <head>
    <title>On The Boat Again</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container">
      <div class="navbar-container">
        <% unless controller_name == "pages/home"%>
          <%= render "shared/navbar" %>
        <% end %>
      </div>

      <div class="content-container">
        <%= render "shared/flashes" %>
        <%= yield %>
      </div>
      <div class="footer-container">
        <% unless controller_name == "pages"%>
            <%= render "shared/footer" %>
        <% end %>
      </div>
    </div>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  </body>
</html>
